<div class="formOuterBox">
    <div class="formAllBox">

        <header class="headerImage">
            <img [src]="imagesProperty[1].path" [height]="imagesProperty[1].height+'em'" alt="not found" />
           <div class="header-above">
            <app-logo />
            <div class="header-sec3">
                <p>Join us and start shopping in style</p>
                <span> 
                <a routerLink="/login">   <button>Login</button></a>
                </span>
            </div>  
           </div>
        </header>
        <app-ss />
        
    </div>
    
</div>