<!-- <div class="navBox anim"> 
    <a routerLink="/home">HOME</a>
    <a routerLink="addproduct">Add Product</a>
    <div class="profile-cart">
        <div class="profile" >

        <div class="profile-img" (click)="OnVisible()" >
            <ul *ngIf="isVisibile">
                <li><a [routerLink]="['user',userName,'details']" style="color: black;">Profile  </a> </li>
                <li><a routerLink="">All Users</a></li>
                <li><a routerLink="">New Product</a></li>
                <li><button (click)="logout()">logout <img src="assets/switch.png" alt=""></button></li>
            </ul>
        </div>
    </div>
        <div class="cart">
            <a routerLink="carts" class="cart-green">Cart</a>
            <span>🛒</span>
        </div>
</div>

</div> -->