<div class="navBox">
    <div>
        <app-logo />
    </div>
    <div>
        <div><a routerLink="/" class="navLink">Home</a></div>
        <div><a routerLink="/allrecipes" class="navLink" >Recipes</a></div>
        <div><a routerLink="/addRecipe" class="navLink" >Add Recipe</a></div>
        <div>
                        <div class="navLink">Card</div>
        </div>
        <div class="profile-box"  (click)="OnVisible()">
            <div class="profile-img"  >
                <img [src]="imagepath"  alt="no image">
               
            </div>
            <ul *ngIf="isVisibile()" >
                <li><a [routerLink]="['user',1,'details']" style="color: black;">Profile  </a> </li>
                <li><a routerLink="">All Users</a></li>
                <li><a routerLink="">New Product</a></li>
                <li><button (click)="logout()">logout <img src="assets/switch.png" alt=""></button></li>
            </ul>
        </div>

        
    </div>
</div>