:host{
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 4px;
    border: none;
    margin: 2em 15vw;
    background-color: white;
    height: 15em;

    
}

img{
    height: 14.2em;
    width: 100%;
}

.details{
    margin: 1em 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.details a{
    color: goldenrod;
    text-decoration: none;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif ;
}
.title{
    font-size: 2.5em;
    font-family: cursive;
    font-weight: 600;
}
.level{
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.admin{
    position: absolute;
    right: 0px;
}

.update{
    height: 1em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.update div{
    font-size: 0.4em;
}