
.belowNavbar{
    padding: 2em;
    color: black;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.text-design{
    font-size: 2em;
    color: purple;
    font-weight: 400;
}

.recipesCard{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.category-item{
    height: 550px;
    display: flex;
    flex-wrap:wrap;
    padding: 1em;
    flex-direction: column  ;
    gap: 20px;
    overflow:scroll;
    overflow-y: hidden;
    
}

.dishContainer{
    width: 80vw;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin: 2em auto;
    overflow-y:scroll ;
}
.viewMore{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.offer{
    background-color: purple;
    color: white;
    height: 3em;    
    font-size: 18px;

    display: flex;
    align-items: center;
}

.offer>div{
    font-size: 1.6em;
}
.view{
    display: flex;
    justify-content: space-around;

}


.formBox{
    position: absolute;
    width: 98.9vw;
    top: -15vh;
    /* left: 25%; */
    z-index: 2 ;
    margin: 100px auto;
    background-color:#000000e6;
}

.dishContainer-down{
    box-shadow:1px -4px 16px 0px black;
    margin-top: -4vh;
}